body
{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}

#central-content 
{
    z-index: 1000;
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

img
{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}